html, body {height:100%;}
/* Cor de fundo e centralizando menu */
.navbar{
    padding: 0 !important;
    margin: 0 auto !important;
    background-color: rgb(4, 139, 250) !important;
}

/* Cor e fonte do link */
.navbar .nav-item .nav-link{
    width: 150px !important;
    height: 50px !important;
    color:white !important;
    text-align: center !important;
    font: Arial, 14pt !important;
}

/* Ao passar o mouse por cima do item muda cor da fonte */
.navbar .nav-item .nav-link:hover{
    transition: all .3s ease-in-ou !important;
    width: 170px !important;
    background-color: rgb(6, 119, 212) !important;
}

/* Define altura e largura, define um padding-top e cor do fundo, também muda o tipo de fonte. */
body {
    padding-top: 100px !important;
    width: 100% !important;
    height: 100% !important;
    background-image: url("background01.png") !important; /* Used if the image is unavailable */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Tahoma, sans-serif !important;
}

.opacidade {
    background-color: rgb(0, 0, 0, 0.7) !important;
}

/*
.meio {
    border: 2px solid rgb(6, 119, 212) !important;
    border-radius: 15px !important;
    padding-top: 25px !important;
    background-color: rgb(6, 119, 212) !important;
}
*/

.btn-custom {
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
}

.btn-icon {
    padding: 8px;
    background-color: white;
}

footer {
    bottom:0px;
    width:100%;
}